extends layout

block content
    ul
        each bier in bier_list
            li
                a(href=bier.url) #{bier.naam}
                |  (#{bier.merk.merk})

        else
            li Geen bier in de DB.