doctype html
head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    style.
        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
        body, html {
            height: 100%;
            line-height: 1.8;
        }
        /* Full height image header */
        .bgimg-1 {
            background-position: center;
            background-size: cover;
            background-image: url("/w3images/mac.jpg");
            min-height: 100%;
        }
        .w3-bar .w3-button {
            padding: 16px;
        }
// Navbar (sit on top)
.w3-top
    #myNavbar.w3-bar.w3-white.w3-card
        a.w3-bar-item.w3-button.w3-wide(href='#home') BIERMAGAZINE
        // Right-sided navbar links
        .w3-right.w3-hide-small
            a.w3-bar-item.w3-button(href='/') HOME
            a.w3-bar-item.w3-button(href='/ranking')
                i.fa.fa-user
                |  RANKING
            a.w3-bar-item.w3-button(href='/lijst')
                i.fa.fa-th
                |  BIERLIJST
            a.w3-bar-item.w3-button(href='/shop')
                i.fa.fa-usd
                |  BIERWINKEL
        // Hide right-floated links on small screens and replace them with a menu icon
        a.w3-bar-item.w3-button.w3-right.w3-hide-large.w3-hide-medium(href='javascript:void(0)' onclick='w3_open()')
            i.fa.fa-bars

ul
    each merk in merk_list
        li
            a(href=merk.url) #{merk.name}

    else
        li Geen merken in de DB.