extends layout

block content
    .w3-container(style='padding:128px 16px')
        p #{userObj.userName}
        ul
            each bier in userObj.favorieten
                li #{bier.merk.merk}
                    | #{bier.naam}
                    | #{bier.url}
            else
                li nog geen favorieten